body {
    background-color: black;
    text-align: center;
    font-family: Verdana;
}

.header--main {
    font-weight: normal;
    color: white;
    font-size: 50px;
}
.header--body {
    font-size: 42px;
    font-weight: 300;
    color: white;
}

h4 {
    font-size: 21px;
    color: gray;
    font-weight: normal;
}

.link {
    color: aquamarine;
    font-size: 16px;
}

.copyright {
    color: gray;
    font-size: 21px;
    text-align: right;
}